<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page | Art-app</title>
    <link rel="stylesheet" href="../adminStyle.css">
</head>
<body>

        {{!-- add items --}}
    <div id="add" class="modal" style='padding-top: 5px;'>
        <span onclick="document.getElementById('add').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content" action="/admin/addItem" method="POST" onsubmit="return saveDate();">
        <div class="container">
            <h1>Add Item</h1>
            <p>Please fill in this form to add an item.</p>
            <hr id='hr1'>
            <label for="name"><b>item-name</b></label>
            <input type="text" placeholder="enter item name..." name="name" required>
            <input type="hidden" name="date" id='date'>
            
            <label for="summary"><b>discription</b></label>
            <textarea placeholder="Enter discription..." name="summary" required></textarea>
                
            <label for="type"><b>type</b></label><br>
            <select id="typesOpt" name="type" required>
                {{#each itemType}}
                    <option value="{{this.type}}">{{this.type}}</option>
                {{/each}}
            </select>
            
            <label for="price"><b>price(in INR)</b></label>
            <input type="number" placeholder="enter price..." name="price" required>
            
            <label for="name"><b>select images</b></label>
            <input type="file" id="myFile" name="image" multiple><br><br>

            <label><b>status</b>
            <input type="radio" checked="checked" value='available' name="status" style="margin-bottom:15px">available
            <input type="radio" name="status"  value='soldout' style="margin-bottom:15px">sold out
            </label>
    
            <div class="clearfix">
            <button type="button" onclick="document.getElementById('add').style.display='none'" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn" style="width: 50%;">add item</button>
            </div>
        </div>
        </form>
    </div>
  

  
    {{!-- add types --}}
   <div id="editTypes" class="modal" style='padding-top: 5px;'>
        <span onclick="document.getElementById('editTypes').style.display='none'" class="close" title="Close Modal">&times;</span>
        <div class="modal-content" style='width:50%;'>
            <div class="container">
                <h1>edit types</h1>
                <hr id='hr1'>
                <label for="type"><b>enter new type</b></label>
                <input type="text" id='newType' placeholder="enter new type..." name="type">
                            
                <label><b>delete type</b>
                <div id="deleteTypes"> 
                    {{#each itemType}}   
                        <span id='{{this.type}}'><input type="checkbox" value='{{this.type}}' style="margin-bottom:15px">{{this.type}}</span>
                    {{/each}}
                </div>
                </label>
            
                <div class="clearfix">
                <button type="button" onclick="document.getElementById('editTypes').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" onclick='addNewType()' class="signupbtn" style="width: 50%;">save new type</button>
                </div>
            </div>
        </div>
    </div>
  
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <p id="warning">
                If you are not the admin and have logged in accidently/delibaretely, logout immidiately to avoid any strict action
            </p> 
            <div id="options">
                <div class='flex-opt'>go back</div>
                <div class='flex-opt' style="background-color: green;">I am authentic admin, proceed</div>
            </div>       
        </div>
    </div>


   {{!-- update item --}}
    <div id="update" class="modal" style='padding-top: 5px;'>
        <span onclick="document.getElementById('update').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content" action="/admin/updateItem" method="POST">
        <div class="container">
            <h1 id='updateTitle'>update Item</h1>
            <p>Please update the required fields.</p>
            <hr id='hr1'>
            <label for="name"><b>item-name</b></label>
            <input type="text" value='' placeholder="enter item name..." name="Uname" required>
            
            <label for="summary"><b>discription</b></label>
            <textarea value='' placeholder="Enter discription..." name="Usummary" required></textarea>
                <input type="hidden" name='Uid' value=''>
            <label for="type"><b>type</b></label><br>
            <select id="typesOpt" value='' name="Utype" required>
                {{#each itemType}}
                    <option value="{{this.type}}">{{this.type}}</option>
                {{/each}}
            </select>
            
            <label for="price"><b>price(in INR)</b></label>
            <input type="number" value='' placeholder="enter price..." name="Uprice" required>
            
            <label for="name"><b>select images</b></label>
            <input type="file" id="myFile" name="Uimage" multiple><br><br>

            <label><b>status</b>
            <input type="radio" onclick="check()" value='available' name="Uavailable" style="margin-bottom:15px">available
            <input type="radio" name="Usoldout"  onclick="uncheck()" value='soldout' style="margin-bottom:15px">sold out
            </label>
    
            <div class="clearfix">
            <button type="button" onclick="document.getElementById('update').style.display='none'" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn" style="width: 50%;">update item</button>
            </div>
        </div>
        </form>
    </div>
    
    <div id="navbar">
        <div class="flex-nav">admin page  | ART-APP</div>
        <div class="flex-nav" id="signOut">signout</div>
    </div>        

    <div id="content">
        <div class="flex-content" id="viewItems">
            <div class="addOptions flex-view">
                <div id="addItemBtn" onclick="document.getElementById('add').style.display='block'" style="width:auto;">add items</div>
                <div id="addItemBtn" onclick="document.getElementById('editTypes').style.display='block'" style="width:auto;">add item's types</div>
            </div>
            <div id="allItemList" class='flex-view'>
                <div style="font-size: 2em;font-weight: 800;color: darkred;text-shadow: 3px 3px darkblue;padding:2vh;">ALL ITEMS ON WEBSITE</div>
                <div class="item" style='margin-bottom:3vh'>
                    <div class="item-name flex-item" style='background-color: lightskyblue;border-left: 15px solid gold;'>item</div>
                    <div class="item-type flex-item" style='background-color: lightgreen;'>type</div>
                    <div class="item-date flex-item" style='background-color: lightskyblue;'>added on</div>
                    <div class="item-price flex-item" style='background-color:lightgreen;'>price</div>
                    <div class="item-edit flex-item" style='background-color:  lightskyblue;'>edit</div>
                    <div class="item-delete flex-item" style='background-color: lightgreen;border-right: 15px solid gold;'>delete</div>
                </div>
                {{#if itemList}}
                    {{#each itemList}}
                    <div id='{{this._id}}' style="width: 90%;">
                        <div class="item">
                            <div class="item-name flex-item">{{this.name}}</div>
                            <div class="item-type flex-item">{{this.type}}</div>
                            <div style="display: none;">{{this.summary}}</div>
                            <div class="item-date flex-item">{{this.date}}</div>
                            <div class="item-price flex-item">&#8377;{{this.price}}</div>
                            <div style="display: none;">{{this.price}}</div>
                            <div style="display: none;">{{this.image}}</div>
                            <div style="display: none;">{{this.status}}</div>
                            <div class="item-edit flex-item" style='padding: 0px;'>
                                <button onclick="editItem('{{this._id}}')" class='editBtn'>edit</button>
                            </div>
                            <div class="item-delete flex-item" style='padding: 0px;'>
                                <button  onclick="deleteItem('{{this._id}}')" class='delBtn'>delete</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                    {{/each}}
                {{/if}}        
            </div>
        </div>        
    </div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../adminScript.js"></script>    
</body>
</html>