<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="../itemsListStyle.css">
    <link rel="stylesheet" href="../navbar.css">
</head>
<body>
    
    <input type="hidden" id='username' value="{{userId}}">
    
    <!-- navigation bar -->
    
    <!-- navigation bar -->
    <div class="navbar" style="background-color: black;">
        <a href="./#home" title='HOME'>
            <div class="homeMenu menu">
                <i class='fas fa-home icon'></i><span class="menuVal">Home</span>
            </div> 
        </a>
        <a href="./#images" title='ITEMS'>
            <div class="itemsMenu  menu">
                <i class='fas fa-image icon'></i><span class="menuVal">Items</span>
            </div>
        </a>
        <a href="./#testimonials" title="testimonials">
            <div class="testimonialsMenu  menu">
                <i class='far fa-comment-alt icon'></i><span class="menuVal">Testimonials</span>
                </div>
        </a>
        <a href="./#gallary" title="GALLARY"> 
            <div class="GALLARYMenu  menu">
                <i class='far fa-images icon'></i><span class="menuVal">Gallary</span>
            </div>
        </a>
        <a href="./#about" title="ABOUT"> 
            <div class="aboutMenu  menu">
                <i class='fab fa-empire icon'></i><span class="menuVal">About</span>
            </div>
        </a>

        {{#if userId}}
            <a title='user' class='dropBtn'>
                <div class="contactMenu  menu">
                    <i class='fas fa-user icon'></i><span class="menuVal">Logout</span>
                </div>
                
                <!-- dropdown menu -->
                <div class="dropdownContent">
                    <div class="mail ts" onclick="window.location='/user/dashboard'">
                        <span><i class="fab fa-dashcube" ></i></span>
                        <span>dashboard</span>
                    </div>
                    <div class="phone ts" onclick="window.location='/user/logout'">
                        <span><i class="fas fa-sign-out-alt" ></i></span>
                        <span>logout</span>
                    </div>
                </div>
            </a>
        {{else}}                    
            <a title='LOGIN/SIGN-UP' href="/login">
                <div class="contactMenu  menu">
                    <i class='fas fa-user'></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="menuVal">Login</span>
                </div>
            </a>
        {{/if}}

    </div>

    
    <!-- title -->
    <div><br><br>
        <div class='logo'>pranya Design </div>
        <div class="topic">ITEMS MADE TILL NOW</div>
    </div>

    <!-- varities -->
    <div id="varities">
        <div class="flex-itemV active" id='all'>all</div>
        {{#each types}}
        <div class="flex-itemV" id='{{this.type}}'>{{this.type}}</div>
        {{/each}}
    </div>

    <!-- item list -->
    <div id="itemsList">
        {{#if itemList}}
            {{#each itemList}}
                <div class="flex-itemL {{this.type}} all" onclick='checkAvailability("{{this.status}}","{{@index}}")'>
                    <div class="itemCard" style="background-image: url({{this.image}});">
                        <div class="itemDiscription">
                            {{this.type}} &nbsp;&nbsp;&nbsp;&nbsp;
                            <b style="color:black;font-style:oblique;">price</b>: &#8377;{{this.price}}
                            <br>
                            {{this.status}}
                            <input type="hidden" value='{{this._id}}' id='{{@index}}'> 
                        </div>
                    </div>    
                </div>
            {{/each}}
        {{/if}}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
    <script src="../itemsListScript.js"></script>
</body>
</html>