<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>single Item | ART-APP</title>
    <link rel="stylesheet" href="../singleItemStyle.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <input type="hidden" id='username' value="{{userId}}">
    <!-- navigation bar -->
    <div class="navbar">
        <a href="./#home" title='HOME'>
            <div class="homeMenu menu">
                <i class='fas fa-home' style='font-size:26px'></i>&nbsp;&nbsp;&nbsp;&nbsp;Home
            </div> 
        </a>
        <a href="./#images" title='ITEMS'>
            <div class="itemsMenu  menu">
                <i class='fas fa-image' style='font-size:26px'></i>&nbsp;&nbsp;&nbsp;&nbsp;items
            </div>
        </a>
        <a href="./#testimonials" title="testimonials">
            <div class="testimonialsMenu  menu">
                <i class='far fa-comment-alt' style='font-size:26px'></i>&nbsp;&nbsp;&nbsp;&nbsp;testimonials
                </div>
        </a>
        <a href="./#gallary" title="GALLARY"> 
            <div class="GALLARYMenu  menu">
                <i class='far fa-images' style='font-size:26px'></i>&nbsp;&nbsp;&nbsp;&nbsp;gallary
            </div>
        </a>
        <a href="./#about" title="ABOUT"> 
            <div class="aboutMenu  menu">
                <i class='fab fa-empire' style='font-size:26px'></i>&nbsp;&nbsp;&nbsp;&nbsp;about
            </div>
        </a>
        <a title=CONTACT class='dropBtn'>
            <div class="contactMenu  menu">
                <i class="material-icons" style="font-size:26px">contact_phone</i>&nbsp;&nbsp;&nbsp;&nbsp;contact
            </div>
            
            <!-- dropdown menu -->
            <div class="dropdownContent">
                <div class="mail ts" style="padding: 10px 20px;">
                    <span><i class="fas fa-mail-bulk"></i></span>
                    <span>pragyaagnik@gmail.com</span>
                </div>
                <div class="phone ts" style="padding: 10px 20px;">
                    <span><i class='fab fa-whatsapp'></i></i></span>
                    <span>+91-9889238731</span>
                </div>
                <div class="social ts" style="padding: 10px 20px;">
                    <span><i class='fab fa-instagram'></i> </span>
                    <span>pranyaDesign</span>
                </div>
            </div>
        </a>

        {{#if username}}
            <a title='user' class='dropBtn'>
                <div class="contactMenu  menu">
                    <i class='fas fa-user' style='font-size:26px'></i>&nbsp;&nbsp;&nbsp;&nbsp;logout
                </div>
                
                <!-- dropdown menu -->
                <div class="dropdownContent">
                    <div class="mail ts"  style='padding:10px 50px'onclick="window.location='/user/dashboard'">
                        <span><i class="fab fa-dashcube" ></i></span>
                        <span>dashboard</span>
                    </div>
                    <div class="phone ts"  style='padding:10px 50px' onclick="window.location='/user/logout'">
                        <span><i class="fas fa-sign-out-alt" ></i></span>
                        <span>logout</span>
                    </div>
                </div>
            </a>
        {{else}}                    
            <a title='LOGIN/SIGN-UP' href="/login">
                <div class="contactMenu  menu">
                    <i class='fas fa-user' style='font-size:26px'></i>&nbsp;&nbsp;&nbsp;&nbsp;login
                </div>
            </a>
        {{/if}}
    </div>

    <!-- item list -->
    <div id="itemInfo">
        <div class="flex-itemI" id='picture'>
            <div id="imgThumbnail">
                <div class="thumbnail" id='pic0' style='background-image:url("{{item.image}}")'></div>
                <div class="thumbnail" id='pic1' style='background-image:url("{{item.image}}")'></div>
            </div>
            <div class="imgBox">
                <div id="mainPicture" style="background-image: url('{{item.image}}');"></div>
            </div>
        </div>
        <div class="flex-itemI" id='content'>
            <div id="itemName">{{item.name}}</div>
            <div id="itemContent">
                M.R.P - {{item.price}} <br><br>
                {{item.summary}}
                type - {{item.type}}<br><br>
                status - {{item.status}} <br>
            </div>
        </div>
        <input type="hidden" value="{{item._id}}" id='itemId'>
        <div class="flex-itemI" id="booking">
            {{#if status}}
                <div id="addToCart">Delete From Cart</div>
            {{else}}
                <div id="addToCart">Add To Cart</div>
            {{/if}}
            
            <div id="buyNow">Buy Now</div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>     
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>   
    <script src="../singleItemScript.js"></script>
</body>
</html>